@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    background: #eee2de;
    color: #4942e4;
    font-family: "Barlow", sans-serif;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    width: 100vw;
    height: 5em;
    position: sticky;
    top: 0;
    background: #eee2de;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    /* padding-right: 5%; */
    z-index: 100;
    gap: 6em;
}
main {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
section {
    width: 100%;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > h1 {
    color: yellow;
}
.logo > h1 > span {
    color: #4942e4;
}
.navbars {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    /* height: 1.2em; */
}
.navbars > button {
    background: #4942e4;
    border: 0px;
    outline: none;
    color: white;
    padding: 1%;
    border-radius: 0.4em;
    width: auto;
    text-decoration: none;
}
.navbars > button > a {
    font-size: 0.8em;
    color: #eee2de;
    text-decoration: none;
}
.other-diplays {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    align-items: center;
    /* height: 100%; */
    font-size: 2em;
    background: linear-gradient(45deg, #4942e4, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.other-diplays > p,
.other-diplays > p > a {
    text-decoration: none;

    /* color: yellow; */
}
.other-diplays > p {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.alert {
    position: absolute;
    top: 0.4em;
    background: #03c988;
    color: #e90064;
    border: 0px solid;
    transition: all ease 3s;
    z-index: 1000;
    /* background-image: linear-gradient(30deg, #4942e4, yellow); */
}
.alert-hide {
    position: absolute;
    top: -100vh;
    background: #03c988;
    color: #e90064;
    border: 0px solid;
    z-index: 1000;
    transition: all ease 2s;
}
.alert-error {
    background: #c70039 !important;
    color: white;
}

@media screen and (max-width: 600px) {
    main {
        padding-left: 5%;
        padding-right: 5%;
    }
    .navbars {
        display: none;
        transform: translateX(-100%);
        transition: all ease 1.3s;
    }
    .navbars-active {
        position: absolute;
        width: 100%;
        height: 80vh;
        top: 5em;
        left: 0;
        background: #eee2de;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 2em;
        overflow-y: scroll;
        transform: translateX(0%);
        transition: all ease 1.3s;
    }
    .navbars-active > button {
        width: 100%;
        height: 3em;
        background: #4942e4;
        color: white;
        margin-top: 0.4em;
        border-radius: 0.3em;
        border: 0px;
        transition: all ease 1s;
    }
    .navbars-active > button:focus {
        background: #4942e4;
        color: yellow;
        transition: all ease 1s;
    }
    .navbars-active > button > a {
        text-decoration: none;
        color: white;
    }
    .other-diplays {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #c70039;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .other-diplays > p {
        font-size: 1.2em;
        width: 100%;
        justify-content: center;
    }
    .other-diplays > p > a {
        color: white;
    }
    .menu-hum {
        margin-right: 0.5em;
        font-size: 2.5em;
    }
}
@media screen and (min-width: 601px) {
    .bx-menu-alt-right {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    main {
        padding-left: 2%;
        padding-right: 2%;
    }
}
