@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    background: #eee2de;
    color: #4942e4;
    font-family: "Barlow", sans-serif;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    width: 100vw;
    height: 5em;
    position: sticky;
    top: 0;
    background: #eee2de;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 100;
}
main {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
section {
    width: 100%;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > h1 {
    color: yellow;
}
.logo > h1 > span {
    color: #4942e4;
}
.navbars {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
    /* height: 1.2em; */
}
.navbars > button {
    background: #4942e4;
    border: 0px;
    outline: none;
    color: white;
    padding: 1%;
    border-radius: 0.4em;
    width: auto;
    text-decoration: none;
}
.navbars > button > a {
    font-size: 0.8em;
    color: #eee2de;
    text-decoration: none;
}
.other-diplays {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    font-size: 2em;
    background: linear-gradient(45deg, #4942e4, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.other-diplays > p,
.other-diplays > p > a {
    /* font-size: 1.7em; */
    text-decoration: none;

    /* color: yellow; */
}
