@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all ease 1s;
}
:root {
    --background: white;
    --main-font: #4942e4;
    --btn-background: yellow;
    --error-bg: #4942e4;
}
body {
    background: linear-gradient(45deg, #4942e4, yellow);
    /* background: var(--background); */
    color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Nunito Sans", sans-serif;
}
.form-container {
    width: 45%;
    height: auto;
    padding: 2%;
    background: var(--main-font);
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
}
form {
    display: flex;
    flex-direction: column;
}
.form-item {
    display: flex;
    gap: 0.3em;
    flex-direction: column;
}
.input {
    width: 100%;
    height: 3em;
    border: 0px;
    outline: none;
    text-indent: 0.5em;
    border-radius: 0.5em;
}
.submit-btn {
    cursor: pointer;
    padding: 0.6em;
    margin-top: 1.2em;
    border-radius: 0.3em;
    border: 1px solid #4942e4;
    outline: none;
    background-color: var(--btn-background);
    color: var(--main-font);
}
.submit-btn:hover {
    background: transparent;
    border: 1px solid var(--btn-background);
    color: white;
    transition: all ease 1s;
}
.form-container > h1,
.form-container > h1 > i {
    font-size: 2em;
    text-align: center;
}

.alert {
    position: absolute;
    top: 0.4em;
    background: white;
    color: #e90064;
    border: 0px solid;
    transition: all ease 3s;
    /* background-image: linear-gradient(30deg, #4942e4, yellow); */
}
.alert-hide {
    position: absolute;
    top: -100vh;
    background: white;
    color: #e90064;
    border: 0px solid;
    transition: all ease 2s;
}
