.hero-container {
    width: 100%;
    height: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem;
}
.item-img {
    /* object-fit: cover; */
    height: 100%;
}
.item-img > img {
    /* object-fit: cover; */
    width: 100%;
    height: 200px;
    border-radius: 0.3em;
}
.item-holder {
    height: 200px;
    width: 100%;
    text-decoration: none;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    background: #4942e4;
    color: #eee2de;
    border-radius: 0.3em;
    gap: 2%;
}
.list-item {
    color: white;
    text-decoration: none;
    /* box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3); */
}
.item-holder > a {
    color: #4942e4;
    text-decoration: none;
}
.list-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item > h6 {
    font-weight: bold;
    width: 100%;
    overflow-x: hidden;
}
.tag {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.tag-header {
    /* margin-top: 2rem; */
    font-weight: bold;
    color: yellow;
}
article {
    background: #4942e4;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5em;
    width: 100%;
    padding: 2%;
}
article > form {
    width: 100%;
}
label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
}
label > input {
    width: 100%;
    border: 0px;
    outline: none;
    border-radius: 0.4em;
    height: 2.5rem;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    text-indent: 0.3em;
}
label > .bx {
    cursor: pointer;
    position: absolute;
    color: white;
    right: 0;
    font-size: 1.3em;
    background: #4942e4;
    height: 100%;
    width: 2em;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 700px) {
    .item-holder {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
    }
    .item-img > img {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 0.4em;
    }
    .search_form > label {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
        .item-img > img {
        width: 4rem;
        height: 4rem;
        margin-top: 0.4em;
        margin-left: 0.3em;
    }
}
